.players-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.player-card{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

.player-name{
    padding: 10px;
    text-align: center;
    color:#B6E388
}


.img-container{
    text-align: center;
    margin-top: 20px;
}